body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 4px 6px rgb(0,0,0,1);
    max-width: 800px;
    width: 100%;
}

#conteudo-sql {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 4px;
    overflow-x: auto;
    min-height: 100px;
    border: 1px solid #111;
}

.upload-section {
    margin-bottom: 20px;
    padding: 10px 0;
}